.grades {
    &__container {
        font-size: 20px;
        display: flex;
        gap: 1em;
        flex-direction: column;
        align-items: center;
    }

    &__buttons {
        display: grid;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
    }
}