.lessons {
    &__title {
        color: $colorText;
    }

    &__block {
        display: flex;
        gap: 15px;
        align-items: baseline;
        margin-bottom: 15px;

        &:last-of-type {
            flex: 1
        }

        ul {
            text-align: center;
        }
    }

}