@media (max-width: 767px) {
    .header {
        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $colorFirst;
        }

        &__menu {
            list-style: none;
            display: grid;
            justify-items: center;
            gap: 5px 0.5em;

            &-item {
                display: flex;
                align-items: center;
                font-size: 2em;

                &-menu {
                    display: block;
                }
            }

            &-item:first-child {
                grid-column: span 3;
                font-size: 1.2em;
                align-self: end;
                display: flex;
                justify-content: flex-end
            }
        }
    }

    main {
        justify-content: flex-start;
    }

    .card-title {
        display: none;
    }

    .card__title {
        margin-bottom: 0;
    }

    .buttons {
        display: none;
    }

    .homework {
        &-container {
            font-size: 16px;
        }

        &__area {
            flex-wrap: wrap;
        }

        &__icons {
            font-size: 1.5em;
        }
    }

    .table {
        order: -999;
        display: grid;
        grid-template-columns: minmax(min-content, 70px) minmax(min-content, 140px) minmax(min-content, max-content) minmax(min-content, 70px);

        &__cell {
            &-task {
                padding: 2px;
            }
        }
    }



    .buttons__box {
        gap: 8px;
    }




    .autoriz {


        &__form {
            font-size: 12px;

            input {
                width: 80%;
            }
        }

        &__buttons {

            width: 80%;
            gap: 0.5em;


            button {}

        }
    }

    .settings {
        &__item {
            flex-direction: column;
        }
    }



}