.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 10px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    overflow: hidden;
    overflow-y: auto;
    z-index: 999;
    // opacity: 0;
    transition: opacity 0.3s;
}

.modal-overlay::before,
.modal-overlay::after {
    content: "";
    display: block;
    height: 1px;
    flex-grow: 1;
}

.modal-content {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
    width: 100%;
    max-width: 40rem;
    padding: 20px;
    color: $colorText;
    background-color: $colorBackgroundSecond;
    border-radius: 16px;
    filter: drop-shadow(6px 10px 10px rgba(30, 149, 155, 0.5));
    transform: translateY(50px);
    transition: transform 0.3s;

    & h3 {
        color: $colorButton;
    }
}

.modal-content-choice {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    justify-content: center;
    gap: 0.3em 1.2em;
    font-size: 1em;
    color: $colorText;
}

.modal-content-choice-single {
    grid-column: 1 / -1;
}

.modal-content-error {
    font-size: 1.5em;
    color: $colorButton;
}

.modal-content-radio {
    transform: scale(1.2);
    margin-right: 0.3em;
}

.ReactModal__Content--after-open {
    transform: translateY(0);
}

.ReactModal__Content--before-close {
    transform: translateY(50px);
}

.modal-close-button {
    position: absolute;
    border: none;
    background-color: $colorBackgroundSecond;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    stroke: $colorText;
    transition: stroke 0.3s;
}

.modal-close-button:hover {
    stroke: $colorButton;
}

.modal-submit-button {
    padding: 0.5em 16px;
    border: none;
    background-color: $colorFirst;
    border-radius: 8px;
    font-size: 1em;
    color: $colorBackgroundSecond;
    filter: drop-shadow(3px 3px 7px rgba(30, 149, 155, 0.5));
    border: 1px solid $colorFirst;
    transition: all 0.3s;
}

.modal-submit-button:hover {
    color: $colorFirst;
    background-color: $colorBackgroundSecond;
    border: 1px solid $colorFirst;
}